<h1>Carrito de compras</h1>

<div class="container">
    <div class="row " >
    <p class="card-text text-center">Detalle del carrito: {{cart._id}}</p>
        {{#each cart.carts}}
        <div class="col my-2 ">
            <div class="card text-center" style="width: 12rem;">
                    <div class="product">
                        <img src="{{this.products.thumbnails}}" width="150" alt="">
                        <h5 class="card-title">{{this.products.title}}</h5>
                        <p class="card-text">Cantidad: {{this.quantity}}</p>
                        <p class="card-text text-muted "> {{this.products.description}}</p>
                        <p class="card-text "> {{this.products.category}}</p>
                    <button class="btn btn-danger mb-3" onclick="deleteProduct('{{_id}}, '{{this.product._id}}')">Quitar del carrito</button>
                    </div>
            </div>
        </div>
        {{/each}}
         <a class="btn btn-primary " href="http://localhost:8080/products">volver a productos</a>
</div>
</div>







